<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <appSettings></appSettings>
  <log4net>
    <appender name="ErrorLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log\error.txt"/>
      <appendToFile value="true"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="100000"/>
      <rollingStyle value="Size"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <header value="[Header]&#xD;&#xA;"/>
        <footer value="[Footer]&#xD;&#xA;"/>
        <conversionPattern value="%newline%date %-5level %logger [%ndc] - %message%newline"/>
      </layout>
    </appender>
    <appender name="DebugLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log\debug.txt"/>
      <appendToFile value="true"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="100000"/>
      <rollingStyle value="Size"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <header value="[Header]&#xD;&#xA;"/>
        <footer value="[Footer]&#xD;&#xA;"/>
        <conversionPattern value="%newline%date %-5level %logger [%ndc] - %message%newline"/>
      </layout>
    </appender>
    <logger name="Error">
      <level value="ERROR"/>
      <appender-ref ref="ErrorLogFileAppender"/>
    </logger>
    <logger name="Debug">
      <level value="ALL"/>
      <appender-ref ref="DebugLogFileAppender"/>
    </logger>
  </log4net>
</configuration>