CREATE TABLE [dbo].[t_card]
(
	[Id] INT NOT NULL PRIMARY KEY, 
    [CardNumber] VARCHAR(16) NOT NULL, 
    [ExpiryDate] SMALLDATETIME NULL
);

GO

CREATE PROCEDURE [IsCardNumberExists]
	@cardNumber varchar(16),
	@result int OUT
AS
	BEGIN
		IF EXISTS (SELECT 1 FROM t_card WHERE CardNumber=@cardNumber)
			SET @result=1
		ELSE
			SET @result=0
	END

GO

-- INSERT VISA CARD leapyear is 2020
INSERT INTO t_card(Id,CardNumber,ExpiryDate)
VALUES(1,4111111111111111,'2020-01-01');
GO
INSERT INTO t_card(Id,CardNumber,ExpiryDate)
VALUES(2,4111111111111112,'2020-01-01');
GO
INSERT INTO t_card(Id,CardNumber,ExpiryDate)
VALUES(3,4111111111111113,'2020-01-01');
GO

-- INSERT MASTER CARD primenumber year is 2017
GO

-- INSERT Amex
GO

-- INSERT JBC
GO
